<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Tensei
  ~ Copyright (C) 2008 - 2012 Jens Grassel, André Schütz
  ~ Copyright (C) 2012 - 2015 Wegtam UG
  ~
  ~ Unauthorized copying of this file, via any medium is strictly prohibited!
  ~ Proprietary and confidential
  -->

<configuration debug="true">
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
    <encoder>
      <pattern>%date{HH:mm:ss} %-5level %logger{0} [%X{akkaSource}] [%X{uuid}] - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="Remoting" level="off" additivity="false">
  </logger>

  <logger name="akka.remote" level="off" additivity="false">
  </logger>

  <logger name="com.wegtam.tensei.agent" additivity="false">
    <appender-ref ref="console"/>
  </logger>

  <root>
    <appender-ref ref="console"/>
  </root>
</configuration>
